
<mat-grid-list cols="7" rowHeight="700px">
    <mat-grid-tile colspan="2" style="background-color: red;">
        <img [src]="tvDataResult.image" alt="Show Image" 
        style="object-fit: cover;
        width: 100%;
        height: 100%;">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" style="background-color: rgba(0,0,0,.7);" >
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="title">{{tvDataResult.title}}</mat-card-title>
              <mat-card-subtitle  class="subtitle">Genres: {{tvDataResult.genres}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin-top: 10px">
              <div class="pStyle" id="summary"></div>
              <!-- <p>hi</p> -->
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    
    </mat-grid-tile>
  
</mat-grid-list>

<!-- <mat-grid-list cols="7" rowHeight="300px">
    <mat-grid-tile 
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <img [src]="tvDataResult.image" alt="Show Image" 
        style="object-fit: cover;
        width: 100%;
        height: 100%;">
  
    </mat-grid-tile>
  </mat-grid-list> -->




<!-- 
<div>
    <h1>{{tvDataResult.title}}</h1>
    <p>{{tvDataResult.description}}</p>
    <p>{{tvDataResult.genres}}</p>
    <p>{{tvDataResult.rating}}</p>

    <img [src]="tvDataResult.image" alt="">
   
</div>
    -->
