.card {
    width: 90%;
    height: 80%;
    border-radius: 20px;
}

.title {
    color: red;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   font-size: 3rem;
}

.subtitle {
    color: rgb(231, 231, 120);
    margin-top: 20px;
}

.matList {
    border-radius: 20px;
}

.pStyle {
    color: aliceblue;
  
}