

.card {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
}

.title {
    color: red;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   font-size: 1.3rem;
}

.imgContainer {
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 2px solid black;

}

.image {
    object-fit: cover; 
    width: 100%; 
    height: 100%
}

.infoContainer {
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px solid black;
   
}

.subtitle {
    color: rgb(231, 231, 120);
    margin-top: 20px;
}


.pStyle {
    color: aliceblue;

}

.grid-layout-custom{
    width: 100vw;
    height: 100vh;
   
  }
